html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.navbar {
  background-color: rgb(130, 176, 179);
  width: 100%;
  color: white;
  position: fixed;
  background-size: auto;
  height: 5vw;
}
.indexLink {
  margin-top: 1%;
  position: fixed;
  font-size: 2.5vw;
  text-decoration: none;
  margin-left: 3vw;
  color: black;
}
.createUserLink {
  margin-left: 13%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.adminLink {
  margin-left: 30%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.searchLink {
  margin-left: 54%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.updatePasswordLink {
  margin-left: 66%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.logoutLink {
  margin-left: 60%;
  margin-top: 1%;
  float: right;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.bioBox {
  margin-top: 5%;
  margin-left: 0%;
  background-color: white;
  position: fixed;
  height: 10vw;
  width: 100%;
  z-index: 1;
}
.name {
  margin-top: 1%;
  margin-left: 5%;
  font-size: 2.5vw;
  position: fixed;
  color: black;
}
.email {
  margin-top: 1%;
  margin-left: 65%;
  letter-spacing: 0vw;
  font-size: 2.5vw;
  position: fixed;
  color: black;
}
.jobTitle {
  margin-top: 1%;
  margin-left: 38.5%;
  font-size: 2.5vw;
  position: fixed;
  color: black;
  text-decoration: underline;
}

.jobDescriptionBox {
  visibility: hidden;
  width: 25vw;
  height: 15vw;
  border-radius: 4vw;
  padding-top: 1%;
  margin-top: 7%;
  margin-left: 50.5%;
  background-color: rgb(130, 176, 179);
  z-index: 9;
  border-style: solid;
  border-color: black;
}

.jobDescription {
  margin-left: 10%;
  color: white;
  font-size: 1.45vw;
}

.jobTitle:hover + .jobDescriptionBox {
  visibility: visible;
  z-index: 9;
}

.skillsBox {
  background-color: rgba(196, 196, 196, 0.144);
  margin-top: 15%;
  position: fixed;
  height: 32.5vw;
  width: 100%;
}

.expertiseTitle {
  margin-left: 5%;
  margin-top: 1.5%;
  font-size: 2vw;
}

.expertiseBox {
  background-color: white;
  margin-top: -1%;
  margin-left: 5%;
  margin-right: 55%;
  height: 20vw;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.skill {
  font-size: 2.5vw;
  margin-top: 0%;
  margin-left: 3%;
}

.languageTitle {
  margin-top: -23.5%;
  margin-left: 55%;
  font-size: 2vw;
}

.languagesBox {
  background-color: white;
  margin-left: 55%;
  margin-top: -1%;
  margin-right: 5%;
  height: 20vw;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.languages {
  margin-top: 1.25%;
  margin-left: 1%;
  position: fixed;
}

.fileArea {
  margin-top: 43%;
  margin-left: 0%;
  background-color: white;
  position: fixed;
  height: 15.15vw;
  width: 100%;
}

.fileTitle {
  margin-bottom: -2.3%;
  margin-left: 5%;
  font-size: 2vw;
}

.addFiles {
  margin-left: 85%;
  font-size: 2vw;
  text-decoration: underline;
  color: black;
}

.filesBox {
  background-color: rgba(196, 196, 196, 0.144);
  height: 7vw;
  margin-top: 1%;
  border-radius: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.file {
  margin-left: 1.5%;
  font-size: 1.5vw;
}

