html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  background-image: url("https://www.bing.com/images/search?q=basic+backgrounds&id=BA6C03B3E9957AFCB592894E010002779CEDEEF6&FORM=IQFRBA");
}
.navbar {
  background-color: rgb(130, 176, 179);
  width: 100%;
  color: white;
  position: fixed;
  background-size: auto;
  height: 5vw;
}
.title {
  margin-top: 1%;
  position: fixed;
  font-size: 2.5vw;
  text-decoration: none;
  margin-left: 3vw;
  color: white;
}
.searchbar {
  margin-top: 1.5%;
  padding-left: 2%;
  position: fixed;
  margin-left: 17%;
  height: 1.5vw;
  width: 40vw;
  border-radius: 0.25vw;
  border-color: black;
}
.searchImg {
  height: 1.4vw;
  margin-top: 1.75%;
  margin-left: 17.45%;
  position: fixed;
  z-index: 2;
  color: grey;
}
.searchType {
  margin-left: 17%;
  margin-top: 3.35%;
}
.logout {
  margin-left: 60%;
  margin-top: 1%;
  float: right;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.bioBox {
  margin-top: 5%;
  margin-left: 0%;
  background-color: white;
  position: fixed;
  height: 10vw;
  width: 50%;
}
.name {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 2vw;
  position: fixed;
  color: black;
}
.email {
  margin-top: 1%;
  margin-left: 33%;
  letter-spacing: 0vw;
  font-size: 2vw;
  position: fixed;
  color: black;
}
.jobTitle {
  margin-top: 1%;
  margin-left: 20%;
  font-size: 2vw;
  position: fixed;
  color: black;
  text-decoration: underline;
}

.skillsBox {
  background-color: rgba(196, 196, 196, 0.144);
  margin-top: 25%;
  /* position: fixed; */
  height: 32.5vw;
  width: 61vw;
  float: right;
  
}

.expertiseTitle {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2vw;
}

.expertiseBox {
  background-color: white;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 55%;
  height: 22.5vw;
  min-height: 50px;
  min-width: 200px;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
}

.expertise {
  margin-top: 1.25%;
  margin-left: 1%;
  position: fixed;
}

.languageTitle {
  margin-top: -45%;
  margin-left: 55%;
  font-size: 2vw;
}

.languagesBox {
  background-color: white;
  margin-left: 55%;
  margin-right: 5%;
  height: 22.5vw;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
}

.languages {
  margin-top: 1.25%;
  margin-left: 1%;
  position: fixed;
}

.fileArea {
  margin-top: 3%;
  margin-left: 0%;
  background-color: white;
  position: fixed;
  height: 15.15vw;
  width: 60%;
}

.fileTitle {
  margin-left: 5%;
  font-size: 2vw;
}

.filesBox {
  background-color: rgba(196, 196, 196, 0.144);
  height: 7vw;
  margin-top: -1.25%;
  border-radius: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.file {
  margin-left: 1.5%;
  font-size: 1.5vw;
}


.leftside {
  float: left;
  border: 5px solid rgba(196, 196, 196, 0.144);
  margin-top: 6%;
  margin-left: 2%;
  height: 52vw;
  border-radius: 12%;
  width: 30vw;
}

.employeeBlock {
  border: 5px solid rgba(196, 196, 196, 0.144);
  height: 60px;
  width: 70px;

}

footer {
  /* background-color: rgb(130, 176, 179); */
}