html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.navbar {
  background-color: rgb(130, 176, 179);
  width: 100%;
  color: white;
  position: fixed;
  background-size: auto;
  height: 5vw;
}
.indexLink {
  margin-top: 1%;
  position: fixed;
  font-size: 2.5vw;
  text-decoration: none;
  margin-left: 3vw;
  color: white;
}
.createUserLink {
  margin-left: 13%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.adminLink {
  margin-left: 30%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.searchLink {
  margin-left: 54%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: black;
}
.updatePasswordLink {
  margin-left: 66%;
  position: fixed;
  margin-top: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.logoutLink {
  margin-left: 60%;
  margin-top: 1%;
  float: right;
  font-size: 2.5vw;
  text-decoration: none;
  border: none;
  padding-right: 3vw;
  color: white;
}
.bioBox {
  margin-top: 5%;
  background-color: white;
  position: fixed;
  height: 10vw;
  width: 50%;
  margin-left: -60%;
}
.name {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 2vw;
  position: fixed;
  color: black;
}
.email {
  margin-top: 1%;
  margin-left: 33%;
  letter-spacing: 0vw;
  font-size: 2vw;
  position: fixed;
  color: black;
}
.jobDescriptionBox {
  visibility: hidden;
  width: 25vw;
  height: 15vw;
  border-radius: 4vw;
  padding-top: 1%;
  margin-top: 11%;
  margin-left: 50.5%;
  background-color: rgb(130, 176, 179);
  z-index: 9;
  border-style: solid;
  border-color: black;
}
.jobTitle {
  margin-top: 1%;
  margin-left: 20%;
  font-size: 2vw;
  position: fixed;
  color: black;
  text-decoration: underline;
}

.jobTitle:hover + .jobDescriptionBox {
  visibility: visible;
  z-index: 9;
}

.skillsBox {
  z-index: 8;
  background-color: rgba(196, 196, 196, 0.144);
  position: fixed;
  margin-top: 12.5%;
  height: 32.5vw;
  width: 61vw;
  margin-left: -60%;
}

.expertiseTitle {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2vw;
}

.expertiseBox {
  background-color: white;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 55%;
  height: 22.5vw;
  min-height: 50px;
  min-width: 200px;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
}

.expertise {
  margin-top: 1.25%;
  margin-left: 1%;
  position: fixed;
}

.languageTitle {
  z-index: 8;
  margin-top: -45%;
  margin-left: 55%;
  font-size: 2vw;
}

.languagesBox {
  z-index: 8;
  background-color: white;
  margin-left: 55%;
  margin-right: 5%;
  height: 22.5vw;
  border-radius: 2vw;
  border-style: solid;
  border-color: black;
}

.languages {
  margin-top: 1.25%;
  margin-left: 1%;
  position: fixed;
  font-size: 3%;

}

.fileArea {
  margin-top: 1.5%;
  background-color: white;
  position: fixed;
  height: 12.5vw;
  width: 62.5%;
  z-index: -1;
  font-size: 3%;

}

.fileTitle {
  margin-left: 5%;
  font-size: 2vw;
}

.filesBox {
  background-color: rgba(196, 196, 196, 0.144);
  height: 7vw;
  margin-top: -2.25%;
  border-radius: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.file {
  margin-left: 1.5%;
  font-size: 1.5vw;
}

.leftside {
  border: 5px solid rgb(130, 176, 179);
  margin-top: 6%;
  margin-left: -63.5%;
  height: 47vw;
  border-radius: 12%;
  width: 30vw;
  overflow: scroll;
  overflow-x: hidden;
  align-items: center;
}

.employeeBlock {
  border: 5px solid rgb(130, 176, 179);
  height: 20%;
  width: 90%;
  border-radius: 10%;
  margin: 2.5%;
  font-size: 10%;
  padding-left: 2%;
}
