{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Trust</title>
    <link href="static/index.css" rel="stylesheet" type="text/css" />
  </head>
  <nav class="navbar">
    <a class="title" href="">Trust</a>
    <img class="searchbar-img">
      <img class="searchImg" src="static/images/search.png" />
      <input
        type="text"
        class="searchbar"
        placeholder="Search"
        aria-label="Search"
      />
      <select name="Types" class="searchType">
        <option value="1">Expertise</option>
        <option value="2">Language</option>
        <option value="3">Title</option>
        <option value="4">Files</option>
        <option value="5">Name</option>
        <option value="6">Email</option>
      </select>
      <a class="logout" href="{% url "logout" %}">Log Out</a>
  </nav>
  <div class="bioBox">
    <div class="name"><p>{{request.user.first_name}} {{request.user.last_name}}</p></div>
    <div class="email"><p>{{request.user.email}}</p></div>
    <div class="jobTitle"><p>{{request.user.profile.title}}</p></div>
  </div>
  <div class="skillsBox">
    <p class="expertiseTitle">Expertise</p>
    <div class="expertiseBox">
      <p class="expertise">{{request.user.profile.Expertise}}</p>
    </div>
    <p class="languageTitle">Languages</p>
    <div class="languagesBox">
      <p class="expertise">{{request.user.profile.Language}}</p>
    </div>
  </div>
  <body>
    <footer></footer>
  </body>
</html>