{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Trust</title>
    <link href="static/search.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="indexLink" href="{% url "userProfile" %}">Trust</a>
      {% if perms.auth.add_user %}
      <a class="createUserLink" href="{% url "createUser" %}">Create User</a>
    {%endif%}
    {% if perms.auth.delete_user %}
    <a class="adminLink" href="{% url "admin:index" %}">Admin</a>
    {%endif%}
      <a class="searchLink" href= "search+1"> Search</a>
      <a class="updatePasswordLink" href="{% url "password" %}">Update Password</a>
      <a class="logoutLink" href="{% url "logout" %}">Log Out</a>
    </nav>
        <a class="logout" href="{% url "logout" %}">Log Out</a>
    </nav>
    <div class = "leftside" style="border: 5px solid rgba(196, 196, 196, 0.144);">
      {%for e in users %}
        <button id="userList" class = "employeeBlock">
                <div class="usr">
                  <p style="float:left;"> {{e.first_name}} {{e.last_name}}</p><p style="float:right;">{{e.profile.title}}</p> 
                </div>
        </button>
      {%endfor%}
    </div>
    <div class="profdisplay">
      {%for e in users%}
        {% if e.id == ValX%}
      <div class="bioBox">
        <div class="name"><p>{{e.first_name}} {{e.last_name}}</p></div>
        <div class="email"><p>{{e.email}}</p></div>
        <div class="jobTitle"><p>{{e.profile.title}}</p></div>
        <div class="jobDescriptionBox"><p class="jobDescription">{{request.user.profile.title.titleDesc}}</p></div>
      </div>
        {%endif%}
      {%endfor%} 
      <div class="skillsBox">
        <p class="expertiseTitle">Expertise</p>
        <div class="expertiseBox">
          <p class="expertise">
            {%for e in users%}
              {% if e.id == ValX%}
                {% for f in e.profile.expertise.all%} 
                   • {{f}} <br>
                {% endfor%}
              {%endif%}
            {%endfor%}</p>
        </div>
        <p class="languageTitle">Languages</p>
        <div class="languagesBox">
          <p class="languages">
            {%for e in users%}
              {% if e.id == ValX%}
                {% for f in e.profile.language.all%} 
                  • {{f}} <br>
                {% endfor%}
              {%endif%}
            {%endfor%}
          </p></p>
        </div>
        <div class="fileArea">
          <p class="fileTitle">Files</p>
          <div class="filesBox">
            <p class="file">
              {%for e in users%}
                {% if e.id == ValX%}
                  {%for f in e.profile.files.all%}
                      • <a href="{{f.Url}}" class="fileLink">{{f.fileName}}</a> <br>
                  {%endfor%}</p></p>
                {%endif%}
              {%endfor%}
              ---------------------------------------------------------------------------------------------------------------------------------------------

          </div>
      </div>
    </div>
  </body>
  <footer>
    <button>WIP</button>
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
  </footer>
</html>