<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <link href="static/updateForm.css" rel="stylesheet" type="text/css" />
  </head>
  <nav class="navbar">
    <a class="indexLink" href="{% url "userProfile" %}">Trust</a>
    <a class="createUserLink" href="{% url "createUser" %}">Create User</a>
    <a class="adminLink" href="{% url "admin:index" %}">Admin</a>
    <a class="searchLink" href= "search+1"> Search</a>
    <a class="updatePasswordLink" href="{% url "password" %}">Update Password</a>
    <a class="logoutLink" href="{% url "logout" %}">Log Out</a>
  </nav>
  <body>
    <div class="formSpace">
      <form method="post">
        <div class="form1">{% csrf_token %} {{ form }}</div>
        <button type="submit" class="saveButton">Save changes</button>
      </form>
    </div>
  </body>
</html>
